AACSB.png
AMBA.png
EQUIS.png
MBSportrait.jpg
monash2.png

*.bbl
*.blg
*.fdb_latexmk

age_structure_forecasts.tex

*_files/*

/.luarc.json
.Rproj.user
age_structure*.tex

/beamerthemeMonash.sty
.history
.vscode
